@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

textarea {
  font-family: inherit;
  font-size: 1.125rem; /* default ~18px */
  resize: none;
}
